# Unity project (UnityProject/)
UnityProject/.utmp/
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
*.log

# Blender
*.blend1
*.blend1.meta

# MemoryCaptures
UnityProject/[Mm]emoryCaptures/

# Recordings
UnityProject/[Rr]ecordings/

# Jetbrains Rider
UnityProject/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio
.vs/

# Gradle
.gradle/

# IDE solution/project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity meta
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity crash
sysinfo.txt

# Mono
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# TestRunner
InitTestScene*.unity*

# Addressables
UnityProject/ServerData
UnityProject/[Aa]ssets/StreamingAssets/aa*
UnityProject/[Aa]ssets/AddressableAssetsData/link.xml*
UnityProject/[Aa]ssets/Addressables_Temp*
UnityProject/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
UnityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
UnityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
UnityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
UnityProject/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated test scenes
UnityProject/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*